<html xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">

<head th:insert="fragments/dml/dml_style :: dml_style">
</head>

<body>
<header th:insert="fragments/header/header :: header"></header>

<div class="box">
    <h2>enter the planet you want to destroy</h2>
    <form action="/planets/destroyPlanet" method="post">
        <div class="input-box">
            <input type="text" name="planetName">
            <label>planet name</label>
        </div>
        <button type="submit">
            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                destroy
            </a></button>
    </form>
</div>
</body>
</html>