<html xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">

<head th:insert="dml/dml_style :: dml_style">
</head>

<body>
<header th:insert="header/header :: header"></header>

<div class="box">
    <h2>add new overlord</h2>
    <form>
        <div class="input-box">
            <input type="text" name="name">
            <label>overlord name</label>
        </div>
        <div class="input-box">
            <input type="text" name="age">
            <label>overlord age</label>
        </div>
        <button type="submit">
            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                add
            </a></button>
    </form>
</div>
</body>
</html>