<html xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">

<head th:insert="dml/dml_style :: dml_style">
</head>

<body>
<header th:insert="header/header :: header"></header>

<div class="box">
    <h2>appoint an overlord to rule the planet</h2>
    <form action="/planets/appointOverlord" method="post">
        <div class="input-box">
            <input type="text" name="planet_name">
            <label>planet name</label>
        </div>
        <div class="input-box">
            <input type="text" name="overlord_id">
            <label>id of overlord</label>
        </div>
        <button type="submit">
            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                appoint
            </a></button>
    </form>
</div>
</body>
</html>